@font-face {
    font-family: 'Dotum Bold';
    src: url('./KoPubWorld/KoPubWorld Dotum Bold.ttf');
}

@font-face {
    font-family: 'Dotum Medium';
    src: url('./KoPubWorld/KoPubWorld Dotum Medium.ttf');
}
@font-face {
    font-family: 'Dotum Light';
    src: url('./KoPubWorld/KoPubWorld Dotum Light.ttf');
}
